<!DOCTYPE html>
<html>
<head>
  <title>Marker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag 'logo.png', height: '20', width: '20' %>
        </a>
      </div>
      <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Sign In</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="navbar-link">Sign Up</a></p>
    </div>
  </nav>

  <div class="container" style="padding-top:60px;">
    <div class="row">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </div>

</div><!-- container -->
</body>
</html>
